<!-- NAV -->
<nav class="navbar sticky-top navbar-expand-lg" id="navbar">
  <p class="navbar-brand" href="/"><i class="far fa-building"></i> mySkills</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon">Menu</span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/add-job"><i class="fas fa-plus fa-xs"></i> Add Job</a>
        <a class="dropdown-item" href="/add-ref"><i class="fas fa-plus fa-xs"></i> Add Reference</a>
        <a class="dropdown-item" href="/add-edu"><i class="fas fa-plus fa-xs"></i> Add Education</a>
      </div>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/searchjob">Search</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/logout">Sign Out</a>
    </li>
  </ul>
</div>
</nav>
<!-- END NAV -->

<!-- CONTENT -->
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <h1>Welcome <span class="user-name"></span><span class="welcome-msg">- Let's get to work</span>!</h1>
          <hr>
          <div class="row">
            <div class="col-md-9" id="index-button-div">
              <div class="row justify-content-center">
                <div class="col-md-4">
                  <a class="btn btn-lg dash-button btn-block" href="/add-job" role="button"><i class="fas fa-plus-circle"></i> Add Job Info</a>
                  <p class="dash-text">Add new information on your past job(s) with a focus on the skills you utilized there.</p>
                </div>
                <div class="col-md-4">
                  <a class="btn btn-lg dash-button btn-block" href="/add-ref" role="button"><i class="fas fa-plus-circle"></i> Add Reference</a>
                  <p class="dash-text">Add new information for any references you may have.</p>
                </div>
                <div class="col-md-4">
                  <a class="btn btn-lg dash-button btn-block" href="/add-edu" role="button"><i class="fas fa-plus-circle"></i> Add Education</a>
                  <p class="dash-text">Add your past education.</p>
                </div>
              </div>
              <div class="row justify-content-center" id="dash-search">
                <div class="col-md-5">
                  <a class="btn btn-lg dash-button btn-block" id="dash-search-btn" href="/searchjob" role="button"><i class="fas fa-search"></i> <span id="search-text">Search Info & </span>Make Resume</a>
                  <p class="dash-text">Search your past jobs for the skills that you are focusing your resume around & then build your resume.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"><span class="modal-success">Success!</span><span class="modal-fail">Oops!</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class="modal-success">New Reference Added!</span>
          <span class="modal-fail">Please provide reference name & contact number.</span>
        </div>
        <div class="modal-footer">
          <span class="modal-success">
            <button type="button" class="btn btn-sm continue-add-btn" data-dismiss="modal">Continue Adding
            </button>
            <a href="/searchjob"><button type="button" class="btn btn-sm see-all-btn">See your entire list
              </button></a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- END MODAL -->

  <!-- FOOTER -->
  <footer class="footer">
    <div class="container justify-content-center">
      <p>Skill Team 4 &copy2018 | <a class="github-link" href="https://github.com/bmjanuska/ocean_tango">Github Repo</a></p>
    </div>
  </footer>
  <!-- END FOOTER -->

</div>
<!-- END CONTENT -->


