<!-- NAV -->
<nav class="navbar sticky-top navbar-expand-lg" id="navbar">
    <a class="navbar-brand" href="/"><i class="far fa-building"></i> mySkills</a>
</nav>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <h1>Start Building Your Resume</h1>
          <hr>
          <div class="row justify-content-center" id="benefits-container">
            <div class="col-md-3">
              <i class="far fa-check-circle fa-2x"></i>
              <p class="index-text">Easy To Use <span class="index-text-span">- Add your past job experiences and references and we do the rest. Plus, we save it all for you for future resume's!</span></p>
            </div>
            <div class="col-md-3">
              <i class="far fa-check-circle fa-2x"></i>
              <p class="index-text">Fast <span class="index-text-span">- Choose which job experiences and skills you want to include in your resume and we will make a resume for you!</span></p>
            </div>
            <div class="col-md-3">
              <i class="far fa-check-circle fa-2x"></i>
              <p class="index-text">Free <span class="index-text-span">- Absolutely no cost or fees required to sign up and use our resume builder!</span></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-8" id="index-button-div">
              <div class="row">
                <div class="col-md-6">
                  <a class="btn btn-lg index-button btn-block" href="/signup" role="button">Sign Up</a>
                </div>
                <div class="col-md-6">
                  <a class="btn btn-lg index-button btn-block" href="/login" role="button">Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer class="sticky-bottom text-center">
  <h5 class="text-center">Skill Team 4 &copy2018 | <a class="github-link" href="https://github.com/bmjanuska/ocean_tango">Github Repo</a></h5>
</footer>
<!-- FOOTER END -->
