  <div class="madlib-wrapper">
    <h1>Resume Objective Generator</h1>
  
    <div class="input-container">
      <input type="text" id="title" placeholder="Title" />
      <input type="text" id="skill1" placeholder="Job Specific Skill" />
      <input type="text" id="skill2" placeholder="Job Specific Skill" />
      <input type="text" id="skill3" placeholder="Job Specific Skill" />
      <input type="text" id="accomplishment" placeholder="Accomplishment" />
      <input type="text" id="softSkill1" placeholder="Soft Skill" />
      <input type="text" id="softSkill2" placeholder="Soft Skill" />
      <input type="text" id="softSkill3" placeholder="Soft Skill" />
      <input type="text" id="mission" placeholder="General Mission" />
      <button id="madlib-toggle">Generate Objective</button>
    </div>
  
    <p class="madlib-output">Objective<br /><br />
    <span id="title-output"></span> with experience in <span id="skill1-output"></span>, <span id="skill2-output"></span>, and <span id="skill3-output"></span> . Ability to <span id="accomplishment-output"></span> with a strong focus on <span id="softSkill1-output"></span>. Seeking to apply my <span id="softSkill2-output"></span> and <span id="softSkill3-output"></span> skills to a strong team with the purpose of <span id="mission-output"></span> as well as expanding my skills and knowledge daily. 
    </p>
  </div>
