
<div class="resume-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="resume-name">
          <!-- User Name goes here-->
          <!-- I put "John Doe" as an example -->
          <h4>John Doe</h4>
          <hr class="resume-hr">
          <hr class="resume-hr">
        </div>
        <div id="resume-contact">
          <!-- User Address goes here-->
          <!-- I put sample address as an example -->
          <p class="resume-text">1234 Any St. Anywhere, USA 11111</p>
          <!-- User Contact Info goes here-->
          <!-- I put sample contact as an example -->
          <p class="resume-text">555-555-5555 | test@email.com</p>
        </div>
        <div id="resume-summary">
          <h5 class="resume-subheading">Professional Summary</h5>
          <hr class="resume-hr-2">
          <p class="resume-text">User summary go here</p>
          <!-- User skills goes here-->
        </div>
        <div id="resume-skills">
          <h5 class="resume-subheading">Skills</h5>
          <hr class="resume-hr-2">
          <p class="resume-text">User skills will go here</p>
          <!-- User skills goes here-->
        </div>
        <div id="resume-experience">
          <h5 class="resume-subheading">Experience</h5>
          <hr class="resume-hr-2">
          <p class="resume-text">User experience will go here</p>
          <!-- User skills goes here-->
        </div>
        <div id="resume-education">
          <h5 class="resume-subheading">Education</h5>
          <hr class="resume-hr-2">
          <p class="resume-text">User education will go here</p>
          <!-- User skills goes here-->
        </div> 
      </div>
    </div>
  </div>
</div>
