<!--Navbar-->
<nav id="navbar" class="navbar navbar-light light-blue lighten-4">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Logo | mySkills</a>

  <!-- Collapse button -->
  <button class="navbar-toggler2 toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
  aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
    class="fa fa-bars fa-1x"></i></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

      <!-- Links -->
      <ul id="dropdown" class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Sign Out<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <h1>Search Your Entries</h1>
            <hr>
            <div class="row justify-content-center">
              <div class="col-md-9" id="add-new-div">

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="skillSearch-input">Search for a Skill, Reference, or Education</label>
                    <input type="text" class="form-control" id="skillSearch-input" placeholder="Enter Search here">
                    <br>
                    <button type="submit" id="skillSearchBtn" class="btn btn-primary">Search</button>
                  </div>
                </div>

                <hr>
                <div id="allOfSkills">
                  All Skills results are going to appear here
                </div>
                <div id="allOfEdu">
                  All Education results are going to appear here
                </div>
                <div id="allOfRef">
                  All References results are going to appear here
                </div>


              </div>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
