<nav class="navbar sticky-top navbar-expand-lg" id="navbar">
  <a class="navbar-brand" href="/">Logo | mySkills</a>
</nav>

<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="box">
          <h2>Sign Up</h2>
          <hr>
          <div class="row justify-content-center">
            <div class="col-md-9">
              <form class="signup">
                <div class="form-group">
                  <label for="exampleInputName">Name</label>
                  <input type="name" class="form-control" id="name-input" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputAddress">Address</label>
                  <input type="address" class="form-control" id="address-input" placeholder="Address">
                </div>
                <div class="form-group">
                  <label for="exampleInputPhone">Phone</label>
                  <input type="phone" class="form-control" id="phone-input" placeholder="Phone">
                </div>
                <div class="form-group">
                  <label for="exampleInputUrl">Url</label>
                  <input type="url" class="form-control" id="url-input" placeholder="Url">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <button href="/dashboard" type="submit" id="submitNew" class="btn btn-default sign-up-btn btn-block">Sign Up</button>
              </form>
              <br />
              <p>Or log in <a href="/login">here</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
