body {
  background-color: #17334a;
}
@media screen and (min-width: 980px) {
  .navbar-brand {
    margin-right: 72%;
  }
}
@media screen and (min-width: 1095px) {
  .navbar-brand {
    margin-right: 75%;
  }
}
@media screen and (min-width: 1475px) {
  .navbar-brand {
    margin-right: 80%;
  }
}
