@mainColor: rgb(23, 51, 74);
@bodyColor: rgb(233, 237, 231);

body {
   background-color: @mainColor;
}

@media screen and (min-width: 980px) {
   .navbar-brand {
       margin-right: 72%;
   }
}
@media screen and (min-width: 1095px) {
   .navbar-brand {
       margin-right: 75%;
   }
}
@media screen and (min-width: 1475px) {
   .navbar-brand {
       margin-right: 80%;
   }
}