body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.wrapper {
  background-image: url("https://images.unsplash.com/photo-1522223142907-0fbfb9c571c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7a69d28bf8e5030872cb254ba06efbd&auto=format&fit=crop&w=2500&q=80");
  background-size: cover;
  height: 100vh;
}
.resume-wrapper {
  padding: 50px 25px;
  font-family: Helvetica, Arial, sans-serif;
}
#navbar {
  background-color: #5096b8;
}
.nav-link {
  color: #e9ede7;
  padding: 0;
}
.navbar-toggler {
  border: 1px solid #e9ede7;
}
.navbar-brand {
  color: #e9ede7;
}
.github-link {
  color: #e9ede7;
}
.github-link:hover {
  color: #e9ede7;
}
#index-button-div {
  margin: 20px auto 15px;
}
#dash-search {
  margin-top: 30px;
  margin-bottom: 0;
}
.index-button {
  background-color: #17334a;
  color: #e9ede7;
  font-size: 22px;
  font-weight: 300;
}
.index-button:hover {
  color: #e9ede7;
}
.sign-up-btn {
  background-color: #17334a;
  color: #e9ede7;
  font-size: 22px;
  font-weight: 300;
  margin-top: 25px;
}
.dash-button {
  background-color: #53afb1;
  color: #e9ede7;
  font-size: 22px;
  font-weight: 350;
}
.dash-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: #e9ede7;
}
.add-new-btn {
  background-color: #53afb1;
  color: #e9ede7;
  font-size: 18px;
  font-weight: 350;
}
.add-new-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: #e9ede7;
}
.continue-add-btn {
  background-color: #53afb1;
  color: #e9ede7;
  font-size: 18px;
  font-weight: 350;
}
.see-all-btn {
  background-color: #316a8c;
  color: #e9ede7;
  font-size: 18px;
  font-weight: 350;
}
#dash-search-btn {
  background-color: #316a8c;
}
#skillSearchBtn {
  background: #316a8c;
  border: none;
  color: #e9ede7;
  margin: 10px 0;
  font-weight: 350;
}
#skillSearchBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: #e9ede7;
  font-weight: 350;
}
#generate-resume-btn {
  margin-top: 60px;
  background-color: #316a8c;
}
.index-text {
  font-size: 22px;
  padding: 8px;
  color: #17334a;
  font-weight: 350;
}
.dash-text {
  font-size: 19px;
  padding: 8px;
  color: #17334a;
}
hr {
  width: 80%;
}
.search-hr {
  width: 100%;
}
.resume-hr {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #333;
  margin-top: 0px;
}
.resume-hr-2 {
  width: 100%;
  border: none;
  height: 3px;
  background-color: #333;
  margin: 0px;
}
.resume-subheading {
  margin-bottom: 0px;
  margin-top: 15px;
}
.resume-text {
  margin-bottom: 0;
}
#resume-contact {
  text-align: end;
  font-size: 18px;
}
.search-display {
  font-size: 20px;
  font-family: "Lato";
}
#allOfSkills {
  margin: 10px 10px 20px 10px;
}
#allOfEdu {
  margin: 10px 10px 20px 10px;
}
#allOfRef {
  margin: 10px 10px 20px 10px;
}
#benefits-container {
  padding: 20px;
  display: flex;
  font-size: 19px;
  text-align: center;
}
.fa-check-circle {
  display: inline-block;
  font-size: 40px;
  color: #316a8c;
}
.box {
  background-color: #e9ede7;
  position: relative;
  margin: 50px 0px;
  padding: 30px 1px 30px 1px;
  border-radius: 25px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #e9ede7;
}
.dropdown-menu {
  background: #5096b8;
  border: none;
}
.dropdown-item {
  color: #e9ede7;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
h1 {
  text-align: center;
  font-size: 63px;
  font-weight: 300;
  color: #17334a;
}
h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  color: #17334a;
}
.search-headings {
  text-align: initial;
  font-size: 32px;
}
.result {
  background-color: #fff;
  color: #17334a;
  padding-left: 5px;
}
@media screen and (max-width: 2000px) {
  .navbar-brand {
    margin: 0 73% 0 2%;
  }
}
@media screen and (max-width: 1525px) {
  .navbar-brand {
    margin: 0 71% 0 2%;
  }
}
@media screen and (max-width: 1484px) {
  .navbar-brand {
    margin: 0 69% 0 2%;
  }
}
@media screen and (max-width: 1370px) {
  .navbar-brand {
    margin: 0 69% 0 1%;
  }
}
@media screen and (max-width: 1303px) {
  .navbar-brand {
    margin: 0 66% 0 1%;
  }
}
@media screen and (max-width: 1201px) {
  .navbar-brand {
    margin: 0 63% 0 1%;
  }
  .index-text {
    font-size: 19px;
  }
  .dash-button {
    background-color: #53afb1;
    color: #e9ede7;
    font-size: 18px;
    font-weight: 350;
  }
  .dash-text {
    font-size: 18px;
    padding: 8px;
    color: #17334a;
  }
  h1 {
    text-align: center;
    font-size: 58px;
    font-weight: 300;
    color: #17334a;
  }
}
@media screen and (max-width: 1107px) {
  .navbar-brand {
    margin: 0 60% 0 1%;
  }
}
@media screen and (max-width: 1027px) {
  .navbar-brand {
    margin: 0 58% 0 1%;
  }
}
@media screen and (max-width: 993px) {
  .navbar-brand {
    margin: 0 58% 0 0%;
  }
  .index-text {
    font-size: 21px;
  }
  .index-text-span {
    display: none;
  }
  .dash-button {
    background-color: #53afb1;
    color: #e9ede7;
    font-size: 17px;
    font-weight: 350;
  }
  .fa-plus-circle {
    display: none;
  }
  .dash-text {
    font-size: 17px;
    padding: 8px;
    color: #17334a;
    text-align: center;
  }
  .fa-search {
    display: none;
  }
  #search-text {
    display: none;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    color: #17334a;
  }
  .navbar-toggler-icon {
    color: #e9ede7;
    font-size: 10px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 767px) {
  .welcome-msg {
    display: none;
  }
  .index-text-span {
    display: inline;
  }
  .index-button {
    margin-bottom: 20px;
  }
  .fa-plus-circle {
    display: inline;
  }
  .fa-search {
    display: inline;
  }
  #search-text {
    display: inline;
  }
}
