@color1: rgb(23, 51, 74);
@color2: rgb(233, 237, 231);
@color3: rgb(80, 150, 184);
@color4: rgb(83, 175, 177);
@color5: rgb(49, 106, 140);

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.wrapper {
    background-image: url("https://images.unsplash.com/photo-1522223142907-0fbfb9c571c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7a69d28bf8e5030872cb254ba06efbd&auto=format&fit=crop&w=2500&q=80");
    background-size: cover;
    height: 1000px;
}

#navbar {
    background-color: @color3;
}

.nav-link {
    color: @color2;
    padding: 0;
}

.navbar-toggler {
    background-color: @color1;
}

.navbar-brand {
    color: @color2;
}

#index-button-div {
    margin: 20px auto 15px;
}

.index-button {
    background-color: @color1;
    color: @color2;
    font-size: 22px;
    font-weight: 300;
}

.dash-button {
    background-color: @color4;
    color: @color2;
    font-size: 22px;
    font-weight: 350;
    
}

.index-text {
    font-size: 22px;
    padding: 8px;
    color: @color1;
    font-weight: 350;
}

.dash-text {
    font-size: 19px;
    padding: 8px;
    color: @color1;
}

hr {
    width: 80%;
}

#benefits-container {
    padding: 20px;
    display: flex;
    font-size: 19px;
    text-align: center;
}

.fa-check-circle {
    display:inline-block;
    font-size: 40px;
    color: @color5;
    
}

.box {
    background-color: @color2;
    // border: 1px solid black;
    height: 600px;
    margin-top: 50px;
    padding: 30px 5px 20px 5px;
    border-radius: 25px;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box1 {
    background-color: white;
    height: 300px;
    width: 500px;
    padding: 0px 0px 0px 0px;
    border-radius: 25px;
    margin: 25px 300px;
}

h1 {
    text-align: center;
    font-size: 63px;
    font-weight: 300;
    color: @color1;
}
#submitsearch{
    background-color: #17334a;
    color: @color2;
    font-size: 22px;
    font-weight: 350;
    margin: 10px 280px
    
}
.box2{
    background-color: @color2;
    // border: 1px solid black;
    height: auto;
    margin-top: 50px;
    padding: 30px 5px 20px 5px;
    border-radius: 25px;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
    font-size: 63px;
    font-weight: 300;
    color: @color1;
}
.box3{
    background-color: white;
    height: 300px;
    width: 500px;
    padding: 0px 0px 0px 0px;
    border-radius: 25px;
    margin: 25px 300px;
}
.navbar-toggler2 {
    color: rgb(233, 237, 231);
    background-color: "none";
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.navbar-light .navbar-brand {
    color: rgb(233, 237, 231);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: rgb(233, 237, 231);
}
@media screen and (min-width: 992px) {
    .navbar-brand {
       margin: 0 70% 0 1%;
    }
}
@media screen and (min-width: 1055px) {
    .navbar-brand {
        margin: 0 73% 0 1%;
    }
}
@media screen and (min-width: 1410px) {
    .navbar-brand {
        margin: 0 80% 0 3%;
    }
}

